<h2>
  <%= @manual.title %>の手順登録
</h2>
<h3 class="test">手順</h3>
<%= form_with(model: [@manual, @manual.procedures.build], local: true) do |f| %>
<div class="procedure-form">
  <div class="procedure-form__title">
    <%= f.label :title, "手順タイトル", class: "procedure-form__title-label" %>
    <%= f.text_field :title, placeholder: "手順内容を登録", id: "procedure-form__title-input", autofocus: true %>
  </div>


  <div class="procedure-form__submit">
    <%= f.submit "追加する", class: "procedure-form__submit-bottun" %>
  </div>
</div>
<% end %>

<ul id="sortable_list">
<% @procedures.each do |procedure| %>
　<% unless procedure.id.nil? %>
  <li class="sortable-list__item">
    <%= procedure.title %>
    <%= link_to '編集', edit_manual_procedure_path(@manual, procedure) %>
    <%= link_to '削除', manual_procedure_path(@manual, procedure), method: :delete, data: {confirm: '削除しますか？' } %>
  </li>
  <% end %>

<% end %>
</ul>
<% hidden_field_tag :manual_id, @manual.id %>
<%= link_to 'マニュアル詳細へ', manual_path(@manual) %>


