<main>
  <%= render 'breadlists/procedure_index', prodcedures: @procedures, manual: @manual %>
  <div class="main__content main__content_w500">
    <h2 class="main__content-title">
      <%= @manual.title %>の手順登録
    </h2>
    <%= form_with(model: [@manual, @manual.procedures.build], local: true) do |f| %>
    <div class="form">
      <% @procedure.errors.full_messages.each do |message| %>
        <div class="error_area">
          <%= message %>
        </div>
      <% end %>
      <%= f.label :title, "手順タイトル", class: "procedure-form__title-label column_form__label" %>
      <div class="input_group">
        <%= f.text_field :title, placeholder: "手順内容を登録", class: "input_group__form form-control", autofocus: true %>
        <%= f.submit "追加する", class: "btn btn-outline-primary input_group__button" %>
      </div>
    </div>
    <% end %>

    <ul id="sortable_list">
      <%= render 'list', procedures: @procedures %>
    </ul>
    <% hidden_field_tag :manual_id, @manual.id %>
    <%= link_to manual_path(@manual), class: "btn" do %>
      <i class="fas fa-arrow-alt-circle-left"></i>マニュアル詳細へ
    <% end %>
  </div>
</main>

<div id="mask" class="hidden"></div>

<div id="form-area" class="hidden panel">

</div>



