<%= form_with model: [:admin,manual], local: true do |f| %>
  <div>
    マニュアルタイトル
    <%= manual.title %>
  </div>
  <div>
    説明
    <%= manual.description %>
  </div>
  <div>
    タグ
    <% manual.tags.each do |tag| %>
      <%= "#{tag.name} " %>
    <% end %>
  </div>
  <div>
    <label>公開ステータス</label>
    <div>
      <%= f.radio_button :status, false %>
      <%= f.label :status, '非公開', value: false %>
    </div>
    <div>
      <%= f.radio_button :status, true %>
      <%= f.label :status, '公開', value: true %>
    </div>
    <div>
      公開日を指定する
      <%= f.date_field :release_date %>
    </div>
  </div>
  <% if params[:id].nil? %>
    <%= f.submit '作成する' %>
  <% else %>
    <%= f.submit '現在の状態を反映する' %>
    <%= link_to '削除する', admin_manual_path(manual),method: :delete, data: { confirm: '削除しますか？' } %>
  <% end %>

<% end %>