<main class=main>
  <%= render 'breadlists/admin/manual_index', memo: @memo %>
  <div class="main__top_content">

    <div>
      <% if @list_title.nil? %>
        <h2>マニュアル一覧</h2>
      <% else %>
        <h2><%= @list_title %></h2>
      <% end %>
    </div>

    <div class="switch_order">
      <!--新着順クリックしたら、paramsにsort:を送る-->
      <% case params[:sort] %>
      <% when 'bookmarks' %>
        <h2><i class="fas fa-caret-right"></i>人気順<i class="fas fa-caret-left"></i><%= link_to '新着順', admin_manuals_path(sort: 'created_at'), class: "switch_order__right_btn" %></h2>
      <% when 'created_at' %>
        <h2><%= link_to '人気順', admin_manuals_path(sort: 'bookmarks'), class: "switch_order__left_btn" %><i class="fas fa-caret-right"></i>新着順<i class="fas fa-caret-left"></i></h2>
      <% end %>
    </div>


  </div>

  <div class="main__left_content">
    <%= render 'admin/tags/list', tags: @tags %>
  </div>

  <div class="main__center_content list_group scroll-list" id="jscroll">
    <% @manuals.each do |manual| %>
    <ul class="list_group__item list__body d-flex--wrap">
      <li class="admin_manual created_at"><%= manual.created_at.strftime('%Y.%m.%d') %></li>
      <li class="admin_manual title"><%= link_to "#{manual.title}", admin_manual_path(manual) %></li>
      <li class="admin_manual bookmarks">♥<%= manual.bookmarks.size %></li>
      <li class="admin_manual raviews"><%= manual.average_star %><%= manual.average_rate %></li>
      <li class="admin_manual user">by:<%= link_to "#{manual.user.full_name}(#{manual.user.pen_name})", admin_user_path(manual.user) %></li>
      <li class="admin_manual status" style="<%= manual.status_style %>"><%= manual.status_text %></li>
    </ul>
    <% end %>
    <div class="invisible">
      <%= paginate @manuals %>
    </div>
  </div>
</main>