<div class="main">
  <%= render 'breadlists/admin/manual_show', manual: @manual %>

  <div class="main__top_content">
    <h2><%= @manual.title %></h2>
    <%= link_to '詳細表示', manual_path(@manual), remote: true, class: "btn btn--small" %>

    <%= link_to 'マニュアル編集', edit_admin_manual_path(@manual), class: "btn btn-outline-success btn--small" %>

    <span class="btn btn-outline-bookmark btn--small non-btn" style="cursor: text;"><%= render 'public/manuals/bookmark', manual: @manual %></span>

    <%= link_to 'レビュー', admin_manual_reviews_path(@manual), class: "btn btn-outline-review btn--small" %>

  </div>

  <div class="main__left_content -outer_radius_border panel sidebar">
    <div class="procedure__list_group_head sidebar__hidden_parent">
      <h3>手順</h3>
      <div class="sidebar__hidden_button"><i class="fas fa-arrow-circle-left text--danger_color"></i></div>
      <div class="sidebar__visible_button invisible"><i class="fas fa-arrow-circle-right text--danger_color"></i></div>
    </div>
    <ul class="tab-list" style="list-style: none;">
      <% @procedures.each do |procedure| %>
        <li class="tab" href="<%= '#' + 'tab' + procedure.id.to_s %>">
            <%= procedure.position %>
            <%= procedure.title %>
            :（<%= procedure.memo_links.count %>）
        </li>
      <% end %>
    </ul>
  </div>

  <div class="main__center_content main__content--narrow sidebar_second">
      <ul class="tab-list" style="list-style: none;">
        <% @procedures.each do |procedure| %>
          <li class="tabbox -outer_radius_border panel" id="<%= 'tab' + procedure.id.to_s %>">
            <% if procedure.memo_links.empty? %>
              メモが登録されていません
            <% end %>
            <%= render 'admin/memos/list', memo_links: procedure.memo_links %>
          </li>
        <% end %>
      </ul>
  </div>

  <div class="main__right_content memo_content">
    <div id="memo-display" class="memo-display">
      <%= render 'public/manuals/detail', manual: @manual %>
    </div>
  </div>


</div>

