<h3>違反報告フォーム</h3>
<%= form_with model: [user, message], remote: true do |f| %>
  <div>
    <%= f.label :manual_id, manual.title + "を違反報告する" %>
    <%= f.hidden_field :manual_id, value: manual.id %>
  </div>
  <div>
    <%= f.label :comment, '報告内容' %>
    <%= f.text_area :comment %>
  </div>
  <%= f.hidden_field :type, value: 'violation_report' %>
  <%= f.hidden_field :report_target, value: 'manual' %>
  <%= f.submit '報告する', id: "send_button" %>
  <div id="cancel_button">キャンセル</div>
<% end %>
