<h3 class="title--center">違反報告フォーム</h3>
<%= form_with model: [user, message], remote: true do |f| %>
  <div>
    <%= f.label :manual_id, manual.title + "を違反報告する" %>
    <%= f.hidden_field :manual_id, value: manual.id %>
  </div>
  <div>
    <%= f.text_area :comment, placeholder: "報告理由を入力してください", class: "modal__text_field ml-0" %>
  </div>
  <%= f.hidden_field :type, value: 'violation_report' %>
  <%= f.hidden_field :report_target, value: 'manual' %>
  <div class="modal__btn_area">
    <div id="cancel_button" class="btn btn-outline-cancel btn--small">キャンセル</div>
    <%= f.submit '報告する', id: "send_button", class: "btn btn-outline-danger btn--small" %>
  </div>
<% end %>
