<h3 class="title--center">違反報告フォーム</h3>
<%= form_with model: [user, message], remote: true do |f| %>
  <div>
    <%= f.label :review_id, review.user.pen_name + "を違反報告する" %>
    <%= f.hidden_field :review_id, value: review.id %>
  </div>
  <div>
    <%= f.text_area :comment, placeholder: "報告理由を入力してください", class: "modal__text_field ml-0" %>
  </div>
  <%= f.hidden_field :type, value: 'violation_report' %>
  <%= f.hidden_field :report_target, value: 'review' %>
  <div class="modal__btn_area">
    <span id="report_cancel_button" class="btn btn-outline-cancel btn--small">キャンセル</span>
    <%= f.submit '報告する', id: "report_send_button", class: "btn btn-outline-danger btn--small" %>
  </div>
<% end %>
