
<div class="body_color__about_page">
  <div class="container about_container">

    <section class="container__section about0 eyecatch">
      <p class="about__title_back_text text_move--slidein_y">
        Growing Manual
      </p>
      <h2 class="container__title about__title">
        <%= image_tag 'takenoko.png', style: "width: 100px;", class: "about__title_image" %><br>
        <div class="animate_title">
          Growing Manual
        </div>
      </h2>
      <p>
        <span class="font--size_large">
          あなたと共に成長する<br>あなただけのマニュアルを
        </span>
        <br><br>
        <span style="font-size: 1.2rem;">
          大量のメモや大量のマニュアルを一括管理できるサイトです。<br>
          必要なときに必要なメモだけを引き出せる、<br>
          デジタルを最大限に生かした効率性の高いマニュアルが作れます。<br>
        </span>
        <span class="annotation">
          ※公開中のマニュアルは閲覧できますが、マニュアルやメモの作成には会員登録が必要です。
        </span>
      </p>
    </section>

    <section class="container__section container__about_section about1">
      <div class="container__section_bg_block_right">
        <div class="inner">
          <p class="inner__title_back_text">
            Memo Create
          </p>
          <h2 class="section__title">
            メモの作成
          </h2>
          <div class="block-left">
            <%= image_tag 'about_memo_create.png', style: "width: 100%;", class: "inner__img" %>
          </div>
          <div class="block-right">
            <p class="inner__direction">
              備忘録や学習の記録として<br>メモを作成できる<br>

            </p>
            <br>
          </div>
        </div>
      </div>
    </section>

    <section class="container__section container__about_section about2">
      <div class="container__section_bg_block_left">
        <div class="inner">
          <p class="inner__title_back_text">
            Manual Link
          </p>
          <h2 class="section__title">
            マニュアルの登録
          </h2>
          <div class="block-left">
            <p class="inner__direction">
              大量のメモの中から<br>必要なものだけを<br>
              マニュアルの手順に登録
            </p>
          </div>
          <div class="block-right">
            <%= image_tag 'about_memo_link.png', style: "width: 100%;", class: "inner__img" %>
          </div>
        </div>
      </div>
    </section>

    <section class="container__section container__about_section about3">
      <div class="container__section_bg_block_right">
        <div class="inner">
          <p class="inner__title_back_text">
            Read Manual
          </p>
          <h2 class="section__title">
            マニュアルの活用
          </h2>
          <div class="block-left">
            <%= image_tag 'about_manual_show.png', style: "width: 100%;", class: "inner__img" %>
          </div>
          <div class="block-right">
            <p class="inner__direction">
              マニュアルを開いて必要なときに<br>
              必要なメモだけを取り出せる
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container__section container__about_section about4">
      <div class="container__section_bg_block_right">
        <div class="inner">
          <p class="inner__title_back_text">
            Case Study
          </p>
          <h2 class="section__title">
            活用事例
          </h2>
          <div class="case_row">
            <dl class="case_row__dl">
              <dt>
                Case
                <span>01</span>
              </dt>
              <dd><%= image_tag 'case_study_01.png', style: "width: 100%;" %></dd>
              <dd class="txt">
                <strong>URL管理ツールとして活用</strong>
                ノウハウが書かれた記事URLをメモに登録してメモタイトルをリンク先の記事タイトルにして、補足などを記述しておくことで、必要なときに取り出せる
              </dd>
            </dl>
            <dl class="case_row__dl">
              <dt>
                Case
                <span>02</span>
              </dt>
              <dd><%= image_tag 'case_study_02.jpg', style: "width: 100%;" %></dd>
              <dd class="txt">
                <strong>勉強ツールとして活用</strong>
                学んだ内容をメモにしたり、参考にしたサイトを記録したり、さまざまな内容をメモに登録する。後からマニュアルに登録して整理できるので、ひたすらインプットしてからメモを整理するもよし。
                マニュアルに登録しながらメモの作成もできるので、アプトプットすることを前提にマニュアルに登録しながら勉強するもよし。
              </dd>
            </dl>
            <dl class="case_row__dl">
              <dt>
                Case
                <span>03</span>
              </dt>
              <dd><%= image_tag 'skilup.jpg', style: "width: 100%;" %></dd>
              <dd class="txt">
                <strong>上級者のスキルを自分のものに</strong>
                自分よりもスキルのあるユーザーのマニュアルを参考にできるので、自分のマニュアルに取り入れて、自分のマニュアルをどんどん成長させていきましょう。
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </section>

    <div class="container__section">
      <div class="other_user_system_bg">
        <div class="other_user_system">
          <p class="inner__title_back_text text_move--slidein_y">
            Other User Communication
          </p>
          <h2 class="section__title">
            他のユーザーとのやり取り
          </h2>
          <div class="direction_area">
            <div class="radius_item zoom_bg">
              <div class="radius_item__text_area">
                他のユーザーの<br>マニュアルを<br>閲覧可能
              </div>
            </div>
            <div class="radius_item zoom_bg">
              <div class="radius_item__text_area">
                マニュアルへの<br>コメント書き込み
              </div>
            </div>
            <div class="radius_item zoom_bg">
              <div class="radius_item__text_area">
                マニュアルを<br>５段階評価
              </div>
            </div>
          </div>
          <div class="entry_btn">
            <%= link_to new_user_registration_path, class: "btn btn-outline-primary slide_bg" do %>
              <span></span>
              登録してほかの仲間を見つけよう
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <footer class="container__section footer_section">
      <div class="sitemap">
        <div class="sitemap__row">
          <div class="sitemap__row_box_left">
            <div class="sitemap__row_box_left_item">
              GrowingManualについて
            </div>
            <div class="sitemap__row_box_left_item_flex">
              <%= link_to 'トップページ', root_path, class: "sitemap__row_box_left_link sitemap__row_box_left_link_toppage" %>
              <%= link_to 'アバウトページ', '/about', class: "sitemap__row_box_left_link sitemap__row_box_left_link_aboutpage" %>
            </div>
          </div>
          <div class="sitemap__row_box_middle">
            <div class="sitemap__row_box_middle_title">
              使い方ガイド
            </div>
            <div class="sitemap__row_box_middle_flex">
              <div class="sitemap__row_box_middle_left">
                <div class="sitemap__row_box_middle_desc">
                  <%= link_to '準備中', '#' %>
                </div>
                <div class="sitemap__row_box_middle_desc">
                  <%= link_to '準備中', '#' %>
                </div>
                <div class="sitemap__row_box_middle_desc">
                  <%= link_to '準備中', '#' %>
                </div>
              </div>
              <div class="sitemap__row_box_middle_right">
                <div class="sitemap__row_box_middle_desc">
                  <%= link_to '準備中', '#' %>
                </div>
                <div class="sitemap__row_box_middle_desc">
                  <%= link_to '準備中', '#' %>
                </div>
                <div class="sitemap__row_box_middle_desc">
                  <%= link_to '準備中', '#' %>
                </div>
              </div>
            </div>
          </div>
          <div class="sitemap__row_box_right">
            <div class="sitemap__row_box_right_left">
              <div class="sitemap__row_box_right_item">
                <%= link_to 'GrowingManual ログイン', new_user_session_path %>
              </div>
            </div>
            <div class="sitemap__row_box_right_right"></div>
          </div>
        </div>
      </div>
      <div class="footer__logo">
        <h2 class="container__title about__title">
          <%= image_tag 'takenoko.png', style: "width: 100px;", class: "about__title_image" %><br>
          <span class="title_text__strong">G</span>rowin<span class="title_text__strong">g</span> Manua<span class="title_text__strong">l</span>
        </h2>
      </div>
    </footer>
  </div>
</div>