<main class=main>

  <div class="<%= "display_type_#{params[:display_type]}" %>">
    <%= link_to root_path(display_type: "thumbnail"), class: "thumbnail_btn" do %>
      <i class="fas fa-th-large"></i> サムネイル表示
    <% end %>
  </div>
  <div class="<%= "display_type_#{params[:display_type]}" %>">
    <%= link_to root_path(display_type: "list"), class: "list_btn" do %>
      <i class="fas fa-bars"></i> リスト表示
    <% end %>
  </div>

  <%= render 'breadlists/top' %>

  <div class="tag_row">
    <div class="tag_row__inner">
      <div id="tag_row__list_area" class="tag_row__list_area">
        <%= render 'public/tags/scroll_row', tags: @tags %>
      </div>
      <div class="tag_row__list_scroller">
        <button type="button" id="list_scroller__left_btn" class="list_scroller__left_btn" style="left: -24px; padding-left: 0px; padding-bottom: 0px;">
          <div class="list_scroller__left_btn_frame">
            <svg class="list_scroller__left_btn_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244.5 428.81">
              <defs>
                <style>.cls-1{fill:currentcolor;stroke:currentcolor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:60px;}</style>
              </defs>
              <line class="cls-1" x1="214.5" y1="398.81" x2="30" y2="214.31"/>
              <line class="cls-1" x1="30" y1="214.5" x2="214.5" y2="30"/>
            </svg>
          </div>
        </button>
        <button type="button" id="list_scroller__right_btn" class="list_scroller__right_btn" style="right: -24px; padding-right: 0px; padding-bottom: 0px;">
          <div class="list_scroller__right_btn_frame">
            <svg class="list_scroller__right_btn_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244.5 428.81">
              <defs>
                <style>.cls-1{fill:currentcolor;stroke:currentcolor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:60px;}</style>
              </defs>
              <line class="cls-1" x1="30" y1="30" x2="214.5" y2="214.5"/>
              <line class="cls-1" x1="214.5" y1="214.31" x2="30" y2="398.81"/>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="main__top_content">

    <h2>公開中のマニュアル<br>
      <% if @list_title.nil? %>
      <% else %>
        <%= @list_title %>
      <% end %>
    </h2>

    <div class="switch_order">
      <!--新着順クリックしたら、paramsにsort:を送る-->
      <% case params[:sort] %>
      <% when 'bookmarks' %>
        <h2><i class="fas fa-caret-right"></i>人気順<i class="fas fa-caret-left"></i><%= link_to '新着順', root_path(sort: 'created_at', display_type: params[:display_type] ), class: "switch_order__right_btn" %></h2>
      <% when 'created_at' %>
        <h2><%= link_to '人気順', root_path(sort: 'bookmarks', display_type: params[:display_type]), class: "switch_order__left_btn" %><i class="fas fa-caret-right"></i>新着順<i class="fas fa-caret-left"></i></h2>
      <% end %>
    </div>

    <div class="search_box d-inline-block">
      <%= form_with url: search_manual_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, placeholder: "キーワードを入力", class: "search_box__form" %>
        <%= f.hidden_field :target, value: 'everyone' %>
        <%= f.hidden_field :display_type, value: params[:display_type] %>
        <%= button_tag "検索", type: 'submit', class: "search_button" %>
      <% end %>
    </div>

  </div>


  <% if params[:display_type] == "thumbnail" %>
    <%= render 'public/homes/thumbnail', manuals: @manuals %>
  <% else %>
    <div class="main__center_content everyone_manual_list list__group">
      <div class="scroll-list" id="jscroll">
        <% @manuals.each do |manual| %>
          <ul class="list__body panel">
            <li class="list__created_at_date"><%= manual.created_at.strftime('%Y.%m.%d') %></li>
            <li class="list__title"><%= link_to "#{manual.title}", manual_path(manual) %></li>
            <li class="list__bookmarked_users"><span class="bookmark-color">♥ <%= manual.bookmarked_users.size %></span></li>
            <li class="list__rate"><%= manual.average_star %></li>
            <li class="list_thumbnail">
              <%= link_to user_path(manual.user) do %>
                <%= attachment_image_tag manual.user, :image, size: "40x40", fallback: "no_image.jpg", class: "panel" %>
              <% end %>
            </li>
            <li class="list__creator"><%= link_to manual.user.pen_name, user_path(manual.user) %></li>
          </ul>
        <% end %>
        <div class="invisible" style="height: 1px;">
          <%= paginate @manuals %>
        </div>
      </div>
    </div>
  <% end %>



</main>
