<h2><%= @manual.title + "の評価一覧" %></h2>
<h3><%= link_to 'マニュアルに戻る', admin_manual_path(@manual) %></h3>
<div>
  <%= "平均評価：#{@manual.average_rate}" %>
  <%= @manual.average_star %>
  <%= "評価件数：#{@manual.reviews.count}" %>
</div>


<h3>みんなの評価</h3>
<% @reviews.each do |review| %>
  <ul>
    <li><%= link_to "#{review.user.pen_name}", admin_user_path(review.user) %></li>
    <li><%= "評価：#{review.star}" %></li>
    <li><%= review.created_at.strftime('%Y/%m/%d %H:%M:%S')  %></li>
    <li><%= review.comment %></li>
    <li><%= link_to '削除する', admin_manual_review_path(@manual, review), method: :delete, data: {confirm: "削除しますか？"} %></li>

  </ul>
<% end %>


<%= paginate @reviews %>