<main class="main">
  <div class="<%= "display_type_#{params[:display_type]}" %>">
    <%= link_to manuals_path(display_type: "thumbnail"), class: "thumbnail_btn" do %>
      <i class="fas fa-th-large"></i> サムネイル表示
    <% end %>
  </div>
  <div class="<%= "display_type_#{params[:display_type]}" %>">
    <%= link_to manuals_path(display_type: "list"), class: "list_btn" do %>
      <i class="fas fa-bars"></i> リスト表示
    <% end %>
  </div>
  <div class="main__top_content">
    <h2>マニュアル管理ページ</h2>
    <div class="switch_order">
      <!--新着順クリックしたら、paramsにsort:を送る-->
      <% case params[:sort] %>
      <% when 'bookmarks' %>
        <h2><i class="fas fa-caret-right"></i>人気順<i class="fas fa-caret-left"></i><%= link_to '新着順', manuals_path(sort: 'created_at', display_type: params[:display_type]), class: "switch_order__right_btn" %></h2>
      <% when 'created_at' %>
        <h2><%= link_to '人気順', manuals_path(sort: 'bookmarks', display_type: params[:display_type]), class: "switch_order__left_btn" %><i class="fas fa-caret-right"></i>新着順<i class="fas fa-caret-left"></i></h2>
      <% end %>
    </div>

    <div>
      <% unless @list_title.nil? %>
        <h2><%= @list_title %></h2>
      <% end %>
    </div>
    <div class="d-flex  d-flex--align_items_center">
      <%= link_to '新規作成', new_manual_path, class: "btn btn-outline-primary" %>
      <div class="d-flex d-flex--flex_direction_column ml-auto">
        <h3 class="search_title">自分のマニュアルを検索</h3>
        <div class="search_box">
        <%= form_with url: search_manual_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword, placeholder: "キーワードを入力", class: "search_box__form" %>
          <%= f.hidden_field :target, value: 'mine' %>
          <%= f.hidden_field :display_type, value: params[:display_type] %>
          <%= button_tag "検索", type: 'submit', class: "search_button" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="main__left_content">
    <%= render 'public/tags/list', tags: @tags %>
  </div>
  <% if params[:display_type] == "thumbnail" %>
    <%= render 'public/manuals/thumbnail', manuals: @manuals %>
  <% else %>
    <div class="main__center_content mine_manual_list list__group">

      <div class="scroll-list" id="jscroll">
        <% @manuals.each do |manual| %>
          <%= link_to manual_path(manual), class: "text--decoration_none" do %>
            <ul class="list__body panel active_slide">
             <li class="list__created_at_date"><%= manual.created_at.strftime('%Y.%m.%d') %></li>
             <li class="list__title"><%= manual.title %></li>
             <li class="list__bookmarked_users"><span class="bookmark-color">♥<%= manual.bookmarks.size %></span></li>
             <li class="list__rate"><%= manual.average_star %><%= manual.average_rate %></li>
             <li class="list__stutus" style="<%= manual.status_style %>"><%= manual.status_text %></li>
            </ul>
          <% end %>
        <% end %>
        <div class="invisible" style="height: 1px;">
          <%= paginate @manuals %>
        </div>
      </div>
    </div>
  <% end %>


</main>