<div class="main">
  <%= render 'breadlists/manual_show', manual: @manual %>
  <div class="main__top_content">
    <h2>マニュアル「<%= @manual.title %>」</h2>

    <%= link_to '詳細表示', manual_path(@manual), remote: true, class: "btn btn--small" %>


    <% if user_signed_in? %>
      <% if @manual.user_id == current_user.id %>
        <%= link_to 'マニュアル編集', edit_manual_path(@manual), class: "btn btn-outline-success btn--small" %>
      <% end %>


      <%= render 'public/manuals/bookmark', manual: @manual %>

      <%= link_to 'レビュー', manual_reviews_path(@manual), class: "btn btn-outline-review btn--small" %>

      <% unless @manual.user == current_user %>
        <%= link_to '通報する', new_user_message_path(@user, manual_id: @manual.id, report_target: 'manual'), remote: true, class: "btn btn-outline-danger btn--small" %>
      <% end %>
    <% else %>
      <span class="btn btn-outline-disabled btn--small non-btn">♡ブックマーク</span>
      <span class="btn btn-outline-disabled btn--small non-btn">レビュー</span>
      <span class="annotation">ブックマーク・レビューは
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i> ログインが必要です
        <% end %>
      </span>
    <% end %>

  </div>

  <div class="main__left_content -outer_radius_border panel sidebar">
    <div class="procedure__list_group_head sidebar__hidden_parent">
      <h3>手順</h3>
      <div class="sidebar__hidden_button"><i class="fas fa-arrow-circle-left text--danger_color"></i></div>
      <div class="sidebar__visible_button invisible"><i class="fas fa-arrow-circle-right text--danger_color"></i></div>
      <% if user_signed_in? %>
        <% if @manual.user_id == current_user.id %>
          <%= link_to '手順編集', manual_procedures_path(@manual), class: "btn btn-outline-primary btn--small" %>
        <% end %>
      <% end %>
    </div>
    <ul class="tab-list" style="list-style: none;">
    <% @procedures.each do |procedure| %>
      <li class="tab" href="<%= '#' + 'tab' + procedure.id.to_s %>">
          <%= procedure.position %>
          <%= procedure.title %>
          :（<%= procedure.memo_links.count %>）
      </li>
    <% end %>
    </ul>
  </div>

  <div class="main__center_content main__content--narrow sidebar_second">
    <ul class="tab-list" style="list-style: none;">
    <% @procedures.each do |procedure| %>
      <li class="tabbox -outer_radius_border panel" id="<%= 'tab' + procedure.id.to_s %>">
        <% if @manual.user == current_user %>
          <p class="title--center">メモの登録</p>
          <div class="btn_group">
            <%= link_to '検索登録', new_procedure_memo_link_path(procedure), class: "btn btn-outline-primary btn--small" %>
            <%= form_with url: new_memo_path, method: :get, local: true do |f| %>
              <%= f.hidden_field :procedure_id, value: procedure.id %>
              <%= button_tag "作成登録", type: 'submit', class: "btn btn-outline-success btn--small" %>
            <% end %>
          </div>
        <% end %>
        <%= render 'public/memos/list', memo_links: procedure.memo_links %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="main__right_content memo_content">
    <div id="memo-display" class="memo-display">
      <%= render 'public/manuals/detail', manual: @manual %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div id="mask" class="hidden"></div>
    <div id="form-area" class="hidden panel">
      <%= render 'public/messages/form', user: @user, message: @message, manual: @manual %>
    </div>
  <% end %>
</div>