<h2><%= @manual.title %> マニュアル詳細</h2>
<% if @manual.user_id == current_user.id %>
  <%= link_to 'マニュアル編集', edit_manual_path(@manual) %>
  <%= link_to '手順追加', manual_procedures_path(@manual) %>
<% end %>
お気に入り
<% if @manual.bookmarked_by?(current_user.id) %>
  <%= link_to '♥ブックマークを外す', manual_bookmark_path(@manual), method: :delete, remote: true %>
<% else %>
  <%= link_to '♡ブックマークする', manual_bookmark_path(@manual), method: :post, remote: true %>
<% end %>
<%= link_to 'レビューする', manual_reviews_path(@manual) %>
<%= link_to '通報する', new_user_message_path(@user, manual_id: @manual.id), remote: true %>

ここに手順一覧を表示させて、備忘録を登録できるようにします。
<div>
<%= 'マニュアルタイトル：' + @manual.title %>
</div>
<div>
<%= '説明：' + @manual.description %>
</div>
<div>
タグ：
<% @manual.tags.each do |tag| %>
  <%= tag.name %>
<% end %>
</div>

<h3>手順</h3>
<div class="tab-group d-flex">
<ul class="tab-list" style="list-style: none;">
<% @procedures.each do |procedure| %>
  <li class="tab" href="<%= '#' + 'tab' + procedure.id.to_s %>">
      <%= procedure.position %>
      <%= procedure.title %>
  </li>
<% end %>
</ul>



<ul class="tab-list" style="list-style: none;">
<% @procedures.each do |procedure| %>
  <li class="tabbox" id="<%= 'tab' + procedure.id.to_s %>">
    <%= link_to '検索でメモを登録する', new_procedure_memo_link_path(procedure) %>
    <%= link_to '新規でメモを作成・登録する', new_memo_path %>
    <%= form_with url: new_memo_path, method: :get, local: true do |f| %>
      <%= f.hidden_field :procedure_id, value: procedure.id %>
      <%= button_tag "新規でメモを作成・登録する", type: 'submit' %>
    <% end %>
    <%= render 'public/memos/list', memo_links: procedure.memo_links %>
  </li>
<% end %>
</ul>
</div>

<div id="mask" class="hidden"></div>
<div id="form-area" class="hidden">
  <%= render 'public/messages/form', user: @user, message: @message, manual: @manual %>
</div>

