<div class="header__row">
  <h2 class="logo">
    <%= link_to '/' do %>
      <%= image_tag 'growing_manual_logo.png' %>
    <% end %>
  </h2>
  <nav class="nav">
    <ul class="nav__left">
      <li class="nav_btn">
        <%= link_to admin_dashboard_path do %>
          <i class="fas fa-tachometer-alt"></i><br>
          ダッシュボード
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to admin_manuals_path do %>
          <i class="fas fa-globe-europe"></i><br>
          マニュアル一覧
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to admin_users_path do %>
          <i class="fas fa-users"></i><br>
          会員一覧
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to admin_dashboard_path do %>
          <i class="fas fa-envelope"></i><br>
          問い合わせ一覧
        <% end %>
      </li>
      <li class="nav__admin_login_msg">
        <%= link_to admin_admin_user_path(current_admin_user) do %>
          <%= "管理者（#{current_admin_user.email}" %>）</li>
        <% end %>
    </ul>
    <ul class="nav__right">
      <li class="nav_btn danger">
        <%= link_to destroy_admin_user_session_path, method: :delete, class: "danger" do %>
          <i class="fas fa-sign-out-alt"></i><br>
          ログアウト
        <% end %>
      </li>
    </ul>
  </nav>
</div>

