<div class="header__row">
  <h2 class="logo">
    <%= link_to '/about' do %>
      <%= image_tag 'growing_manual_logo.png' %>
    <% end %>
  </h2>
  <nav class="nav">
    <ul class="nav__left">
      <li class="nav_btn">
        <%= link_to '/' do %>
          <i class="fas fa-globe-europe"></i><br>
          公開一覧
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to '/about' do %>
          <i class="fas fa-map-signs"></i><br>
          about
        <% end %>
      </li>
    </ul>
    <ul class="nav__right">
      <li class="nav_btn">
        <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-edit"></i><br>
          新規登録
        <% end %>
      </li>

      <li class="nav_btn">
        <%= link_to new_user_session_path do %>
          <i class="fas fa-door-open"></i><br>
          ログイン
        <% end %>
      </li>
    </ul>
  </nav>
</div>
