<div class="header__row">
  <h2 class="logo">
    <%= link_to '/' do %>
      <%= image_tag 'growing_manual_logo.png' %>
    <% end %>
  </h2>
  <nav class="nav">
    <ul class="nav__left">
      <li class="nav_btn">
        <%= link_to '/' do %>
          <i class="fas fa-globe-europe"></i><br>
          公開一覧
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to '/about' do %>
          <i class="fas fa-map-signs"></i><br>
          about
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to manuals_path do %>
          <i class="fas fa-book-open"></i><br>
          マニュアル管理
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to memos_path do %>
          <i class="far fa-sticky-note"></i><br>
          メモ管理
        <% end %>
      </li>
    </ul>
    <ul class="nav__right">
      <li class="nav_btn">
        <%= link_to user_messages_path(current_user) do %>
          <i class="fas fa-envelope"></i><br>
          問い合わせ
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i><br>
          会員情報
        <% end %>
      </li>
      <li class="nav_btn">
        <%= link_to user_notifications_path(current_user) do %>
          <% if current_user.passive_notifications_count == 0 %>
            <i class="fas fa-bell"></i><br>
            通知
          <% else %>
            <span style="color: red;">
              <i class="fas fa-bell"></i><br>
              <%= "未読あり" %>
            </span>
          <% end %>
        <% end %>
      </li>

      <li class="nav_btn danger">
        <%= link_to destroy_user_session_path, method: :delete, class: "danger" do %>
          <i class="fas fa-sign-out-alt"></i><br>
          ログアウト
        <% end %>
      </li>
    </ul>
  </nav>
</div>
