<% if manual.user != current_user %>
  <% if review.id.nil? %>
    <h3 class="my_review__title">あなたの評価はまだありません<%= link_to '評価する', new_manual_review_path, remote: true, class: "btn btn-outline-primary" %></h3>

  <% else %>
    <h3 class="my_review__title">あなたの評価</h3>
    <div class="my_review__body panel">
      <span class="rate_star"><%= review.star %></span>
      <span><%= review.rate %></span>
      <%= link_to '編集する', edit_manual_review_path(manual, review), remote: true, class: "btn btn-outline-success btn--small" %>
      <div>
        <%= review.comment %>

      </div>
    </div>
   <% end %>
<% end %>
