<div>
  <% if @list_title.nil? %>
    <h2>登録するメモを選択</h2>
    <h3>登録先「マニュアル：<%= @manual.title %>」　「手順：<%= @procedure.title %>」</h3>
  <% else %>
    <h2><%= @list_title %></h2>
  <% end %>
</div>

<%= render 'public/categories/list', categories: @categories %>

<%= link_to '手順一覧に戻る', manual_path(@manual) %>
<%= link_to '新規作成して登録する', new_memo_path %>

メモを検索
<div class="search_box">
  <%= form_with url: search_memo_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword, placeholder: "キーワードを入力" %>
    <%= button_tag "検索", type: 'submit', class: "search_bottun" %>
  <% end %>
</div>

<div id="flash_message">
    <%= flash[notice] %>
</div>

<ul>
  <li>作成日</li>
  <li>タイトル</li>
  <li>説明文</li>
</ul>

<% @memos.each do |memo| %>
<ul>
  <li><%= memo.created_at.strftime('%Y.%m.%d') %></li>
  <li><%= link_to memo.name, link_procedure_memo_path(@procedure,memo), remote: true %></li>
  <li><%= memo.description %></li>
</ul>
<% end %>

<div id="mask" class="hidden"></div>
<div id="memo_link_entry" class="hidden">
</div>

<%= paginate @memos %>