  <%= form_with model: memo_link, remote: true do |f| %>
    <%= "題名" + memo.name %>
    <%= "説明" + memo.description %>
    <%= "コード" + markdown(memo.code) %>
    <%= f.hidden_field :memo_id, value: params[:id] %>
    <%= f.hidden_field :procedure_id, value: params[:procedure_id] %>
    <%= f.submit '登録する', id: "entry_button" %>
    <span id="cancel_button">キャンセル</span>
  <% end %>
