<%= form_with model: memo, local: true do |f| %>
  <div>
    <%= f.label :name, '題名' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :url, '参考URL' %>
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :description, '説明' %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :code, '内容・コード' %>
    <%= f.text_area :code, placeholder: "マークダウン記法ができます\n# 見出し1\n## 見出し2\n### 見出し3\n#### 見出し4\nHTMLタグはバッククォートでエスケープできます\n `<h1>`タイトル`</h1>`", id: "code_text_area" %>
  </div>
  <div>
    <%= f.label :category_id, 'カテゴリー' %>
    <%= f.select :category_id, options_from_collection_for_select(categories, :id, :name) %>
  </div>
  <% if !params[:procedure_id].nil? %>
    <%= f.hidden_field :procedure_id, value: params[:procedure_id] %>
    <%= f.submit '新規作成して手順にも登録する' %>
  <% elsif request.path.include?('new') %>
    <%= f.submit '新規作成' %>
  <% else %>
    <%= f.submit '更新する' %>
    <%= link_to '削除する', memo_path(memo), method: :delete, data: { confirm: '削除しますか？' } %>
  <% end %>


<% end %>
