<div id="error">
  <%= flash[:error] %>
</div>
<main>
  <%= render 'breadlists/memo_show', memo: @memo %>

  <div class="main__content main__content_w800 panel">

    <div class="panel__heading">
      <h1 class="panel__title"><%= @memo.name %></h1>
    </div>

    <div class="panel__tool">
      <span class="panel__link_count"><%= link_to "リンク件数：#{@memo.memo_links.count}件", memo_memo_links_path(@memo) %></span>
      <span class="panel__category">カテゴリー:
      <% if @memo.category.present? %>
        <%= @memo.category.name %>
      <% else %>
        --
      <% end %>
      </span>
      <%= link_to '編集する', edit_memo_path(@memo), class: "btn btn-outline-success btn--small ml-auto" %>
      <div class="panel__url">
        参考URL: <%= @memo.url %>
      </div>
    </div>


    <div class="panel__main">
      <div class="panel__main_text">
        <div class="panel__main_text_direction">
          <div class="info__label">説明</div>
          <div><%= @memo.description %></div>
        </div>
        <div class="panel__main_text_markdown">
          <div class="info__label">内容</div>
          <%= markdown(@memo.code) %>
        </div>
      </div>
    </div>
  </div>
</main>
