<main class="main">
  <div class="main__content form-field">
    <h2 class="main__content-title">ログイン</h2>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="form">
        <%= f.label :email, class: "form__label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form">
        <%= f.label :password, class: "form__label" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form form_check_box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "form__label" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-block btn_success" %>
      </div>
    <% end %>
  </div>
  <div class="main__content">
    <%= render "public/shared/links" %>
  </div>
</main>