<main>
  <%= render 'breadlists/user_edit', user: @user %>
  <div class="main__content main__content_w500">
    <h2 class="main__content-title">会員情報編集</h2>
    <%= form_with model: @user, local: true do |f| %>
    <ul class="form-field panel">
      <% @user.errors.full_messages.each do |message| %>
        <div class="error_area">
          <%= message %>
        </div>
      <% end %>
      <li class="column_form">
        <%= f.label :image, '画像', class: "column_form__label" %>
        <div class="column__form__input_file_area">
          <div class="column__fomr__input_file_text">ファイルを選択</div>
          <div id="select_file_name">選択してください（正方形サイズ推奨）</div>
          <%= f.attachment_field :image, class: "column_form__input column_form__input_file" %>
        </div>
      </li>
      <li class="form">
        <%= f.label :full_name, '名前（フルネーム）', class: "form__label" %>
        <%= f.text_field :full_name, class: "form__input" %>
      </li>
      <li class="form">
        <%= f.label :pen_name, "ペンネーム（公開されます）", class: "form__label" %>
        <%= f.text_field :pen_name, class: "form__input" %>
      </li>
      <li class="form">
        <%= f.label :email, 'メールアドレス', class: "form__label" %>
        <%= f.text_field :email, class: "form__input" %>
      </li>
    </ul>
    <%= f.submit '編集内容を保存', class: "btn btn-block btn-outline-primary" %>
    <% end %>
    <%= link_to 'キャンセル', user_path(current_user), class: "btn btn-outline-cancel" %>
    <%= link_to 'パスワード再設定', user_password_edit_path(current_user), class: "btn btn-outline-success" %>
    <%= link_to '退会する', user_unsubscribe_path(current_user), class: "btn btn-outline-danger -float_right" %>
  </div>
</main>