<main>
  <div class="main__content">
    <h2 class="main__content-title">会員ページ</h2>
    <div class="thumbnail_area -outer_radius_border panel user_show">
      <%= attachment_image_tag @user, :image, size: "60x60", fallback: "no_image.jpg", class: "thumbnail" %>
    </div>
    <div class="info-field panel">
      <% if @oneself %>
      <ul class="info">
        <li class="info__label">名前</li>
        <li><%= @user.full_name %></li>
      </ul>
      <% end %>
      <ul class="info">
        <li class="info__label">ペンネーム</li>
        <li><%= @user.pen_name %></li>
      </ul>
      <% if @oneself %>
      <ul class="info">
        <li class="info__label">メールアドレス</li>
        <li><%= @user.email %></li>
      </ul>
      <% end %>
      <ul class="info">
        <li class="info__label">作成したマニュアルの数</li>
        <li><%= "#{@user.manuals.count}" %></li>
      </ul>
      <ul class="info">
        <li class="info__label">公開中のマニュアルの数</li>
        <li><%= link_to "#{@user.manuals.where(status: true).count}", root_path(sort: "creator", creator_id: @user.id) %></li>
      </ul>

      <ul class="info">
        <li class="info__label">作成したメモの数</li>
        <% if @oneself %>
          <li><%= link_to "#{@user.memos.count}", memos_path %></li>
        <% else %>
          <li><%= @user.memos.count %></li>
        <% end %>
      </ul>
      <ul class="info">
        <li class="info__label">ブックマークされた数</li>
        <li><%= @user.bookmarked_count %></li>
      </ul>
    </div>
    <% if @user.id == current_user.id %>
        <%= link_to '編集する', edit_user_path(current_user), class: "btn btn-block btn-outline-success" %>
    <% end %>
  </div>
</main>