<!DOCTYPE html>
<html>
  <head>
    <title>GrowingManual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'partial/user_head' %>
      <%= 'こんにちは' + current_user.full_name + 'さん' %>
    <% elsif admin_user_signed_in? %>
      <%= render 'partial/admin_head' %>
    <% else %>
      <%= render 'partial/other_head' %>
    <% end %>

    <%= yield %>
  </body>
</html>
